<template name="Login">
	<div class="container">
		<form id="login_form" class="account-form" role="form">
			<h2>
				登录
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<!-- <input id="login_email" type="text" class="form-control" placeholder="Email address" required autofocus> -->
			<input id="login_username" type="text" class="form-control" placeholder="用户名" required autofocus>
			<input id="login_password" type="password" class="form-control" placeholder="密码" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="登录中...">
				登录
			</button>
<!-- 			<p class="account-form-text-after" id="register-link">
				没有账户？
				<a href="{{pathFor 'register'}}">
					点击这里注册
				</a>
			</p> -->
			<!-- <p class="account-form-text-after" id="forgot-password-link">
				忘记密码？
				<a href="{{pathFor 'forgot_password'}}">
					点击这里
				</a>
			</p> -->
		</form>
	</div>
</template>
