<template name="Courses">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CoursesView}}
	</div>
</template>

<template name="CoursesView">
	<div id="dataview" class="">
		<h2 id="component-title">
			课程
		</h2>
		<form id="dataview-controls" class="form-inline">
			{{#if isUser}}
			{{else}}
			<div id="dataview-controls-insert" class="form-group">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			{{/if}}
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				{{#if isFound}}
				<div>
				</div>
				{{else}}

				{{#if isUser}}
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
				{{/if}}
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> CoursesViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No courses :(
		</div>
		{{/if}}
	</div>
</template>

<template name="CoursesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					名称
				</th>
				<th class="th-sortable" data-sort="tutor">
					教师
				</th>
				<th class="th-sortable" data-sort="date">
					上课时间
				</th>
				<th class="th-sortable" data-sort="avail">
					已选
				</th>
				<th class="th-sortable" data-sort="amount">
					上限
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> CoursesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="CoursesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{tutor}}
		</td>
		<td>
			{{formatDate date 'YYYY-MM-DD'}}
		</td>
		<td>
			{{currentEnrolled _id}}
		</td>
		<td>
			{{amount}}
		</td>
		{{#if isUser}}
			<td>
				{{#if status _id}}
				已选
				{{else}}
				未选
				{{/if}}
			</td>
			<td>
				{{#if status _id}}
				<span id="unenroll-button" class="fa fa-trash" title="退选">
				退选
				</span>
				{{else}}
				<span id="enroll-button" class="fa fa-bolt" title="选课">
				选课
				</span>
				{{/if}}
			</td>
		{{else}}
			<td>
				<span id="edit-button" class="fa fa-pencil" title="编辑">
				编辑
				</span>
			</td>
			<td>
				<span id="delete-button" class="fa fa-trash-o" title="删除">
				删除
				</span>
			</td>
		{{/if}}
	</tr>
</template>
