<template name="Register">
	<div class="container">
		<form id="register_form" class="account-form" role="form">
			<h2>
				注册
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="register_name" type="text" class="form-control" placeholder="学号" required autofocus>
			<input id="register_realname" type="text" class="form-control" placeholder="姓名" required>
			<!-- <input id="register_email" type="text" class="form-control" placeholder="Email address" required> -->
			<input id="register_password" type="password" class="form-control" placeholder="密码" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="登录中...">
				注册
			</button>
			<p class="account-form-text-after">
				已有帐号？
				<a href="{{pathFor 'login'}}">
					点击这里登录
				</a>
			</p>
		</form>
	</div>
</template>
