<template name="CoursesDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CoursesDetailsDetailsForm}}
	</div>
</template>

<template name="CoursesDetailsDetailsForm">
	<div class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			详情
		</h2>
		<form id="form" role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					名称
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{course.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-tutor">
				<label for="tutor" class="col-sm-3 control-label">
					教师
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{course.tutor}}
					</p>
				</div>
			</div>
			<div class="form-group text field-date">
				<label for="date" class="col-sm-3 control-label">
					上课时间
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{formatDate course.date 'YYYY-MM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-avail">
				<label for="avail" class="col-sm-3 control-label">
					已选
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{course.members.length}}
					</p>
				</div>
			</div>
			<div class="form-group  field-amount">
				<label for="amount" class="col-sm-3 control-label">
					上限
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{course.amount}}
					</p>
				</div>
			</div>
			<div class="form-group  field-desc">
				<label for="desc" class="col-sm-3 control-label">
					课程简介
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{course.desc}}
					</p>
				</div>
			</div>
			
			{{#if isAdminOrTutor}}
			<div class="form-group text field-members">
				<label for="members" class="col-sm-3 control-label">
					成员
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
					{{#each course.members}}
					{{this}}<br>
					{{/each}}
					</p>
				</div>
			</div>
			{{/if}}

			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						确定
					</a>
				</div>
			</div>
		</form>
	</div>
</template>
